
.scPlayer {
    display: none;
    padding-top: 33px
}

.scPlayer.on {
    display: block
}

.scplayMusic {
    overflow: hidden;
    position: relative;
    width: 848px;
    height: 598px;
    border: 1px solid #e6e6e6
}

.scplayMusic .bg_album {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.scplayMusic.tab1 .bg_album {
    background-image: url(http://t1.kakaocdn.net/gamepub/pub/blackobt/p/fansitekit/20180816/bg_balenos.jpg)
}

.scplayMusic.tab2 .bg_album {
    background-image: url(http://t1.kakaocdn.net/gamepub/pub/blackobt/p/fansitekit/20180816/bg_serendia.jpg)
}

.scplayMusic.tab3 .bg_album {
    background-image: url(http://t1.kakaocdn.net/gamepub/pub/blackobt/p/fansitekit/20180816/bg_calpheon.jpg);
}

.scplayMusic .logo_sc {
    position: absolute;
    left: 17px;
    top: 17px;
    width: 104px;
    height: 26px;
    z-index: 2
}

.scplayMusic .logo_sc img {
    width: 100%;
    height: auto
}

.scplayMusic .scMusicPlayer {
    position: absolute;
    left: 0;
    top: -200px
}

.side_playlist {
    position: absolute;
    top: 0;
    right: 0;
    width: 285px;
    height: 100%;
    padding: 19px 17px 60px 18px;
    background-color: #000;
    background-color: rgba(0,0,0,.62);
    box-sizing: border-box
}

.scPlayListTab {
    overflow: hidden;
    padding: 1px 0 0 1px
}

.scPlayListTab li {
    float: left;
    margin: -1px 0 0 -1px
}

.scPlayListTab .scLink {
    float: left;
    width: 83px;
    height: 38px;
    padding-top: 9px;
    border: 1px solid #fff;
    border: 1px solid rgba(255,255,255,.2);
    font-size: 13px;
    line-height: 15px;
    color: #f5f5f5;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none
}

.scPlayListTab .scLink:hover {
    color: #ffc741
}

.scPlayListTab .scLink[aria-selected="true"] {
    position: relative;
    z-index: 10;
    color: #ffc741;
    border-color: #ffc741
}

.scPlayList {
    display: none
}

.scPlayList.on {
    display: block
}

.scPlayList .tit_playlist {
    display: block;
    height: 54px;
    padding-top: 24px;
    border-bottom: 1px solid #d3d2d2;
    border-bottom: 1px solid rgba(211,210,210,.3);
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-indent: 5px;
    box-sizing: border-box
}

.list_playlist {
    padding: 7px 0 0 5px
}

.list_playlist .on .scLinkTxt,.list_playlist .scLinkTxt:hover {
    font-weight: bold;
    color: #ffc741
}

.list_playlist .scLinkTxt {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    font-size: 13px;
    line-height: 25px;
    color: #f5f5f5;
    text-decoration: none;
    letter-spacing: -0.025em;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer
}

.side_playlist {
    z-index: 2
}

.side_playlist .scGroupBtn {
    position: absolute;
    bottom: 25px;
    left: 22px;
    right: 22px
}

.icoFansite {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background: url(http://t1.kakaocdn.net/gamepub/pub/blackobt/p/fansitekit/20180816/ico_fansitekit.png) 0 0 no-repeat;
    text-indent: -9999px
}

.scGroupBtn {
    overflow: hidden
}

.scGroupBtn .icoFansite {
    width: 28px;
    height: 28px
}

.scGroupBtn .icoFansite.on {
    background-position-y: -30px
}

.scGroupBtn .icoPlay {
    float: left;
    background-position: 0 0
}

.scGroupBtn .icoPause {
    float: left;
    margin-left: 8px;
    background-position: -30px 0
}

.scGroupBtn .icoVol {
    float: right;
    background-position: -60px 0
}

.scInfo {
    position: absolute;
    bottom: 17px;
    left: 17px;
    width: 546px;
    box-sizing: border-box;
    z-index: 2
}

.scInfo:after {
    display: block;
    clear: both;
    content: ''
}

.scInfo .scThumb {
    float: left;
    position: relative;
    width: 80px;
    height: 80px
}

.scInfo .scThumb .thumb,.scInfo .scThumb .loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.scInfo .scThumb .thumb img,.scInfo .scThumb .loading img {
    width: 100%;
    height: auto
}

.scInfo .scThumb .thumb {
    z-index: 1
}

.scInfo .scThumb .thumb span {
    display: none;
    width: 100%;
    height: 100%
}

.scInfo .scThumb .thumb span.on {
    display: block
}

.scInfo .scThumb .thumb span.balenos {
    background: url(http://t1.kakaocdn.net/gamepub/pub/blackobt/p/fansitekit/20180816/thumb_balenos.jpg) no-repeat
}

.scInfo .scThumb .thumb span.serendia {
    background: url(http://t1.kakaocdn.net/gamepub/pub/blackobt/p/fansitekit/20180816/thumb_serendia.jpg) no-repeat
}

.scInfo .scThumb .thumb span.calpheon {
    background: url(http://t1.kakaocdn.net/gamepub/pub/blackobt/p/fansitekit/20180816/thumb_calpheon.jpg) no-repeat
}

.scInfo .scThumb .loading {
    background: url(http://t1.kakaocdn.net/gamepub/pub/blackobt/p/fansitekit/20180816/img-loading.gif) no-repeat;
    z-index: 0
}

.scPlayer.loading .scInfo .player.loading .cover_image .cover {
    z-index: 0
}

.scPlayer.loading .scInfo .scThumb .loading {
    z-index: 1
}

.scInfo .scThumbCont {
    overflow: hidden;
    padding-left: 19px
}

.scInfo .tit_thumb {
    display: block;
    padding-top: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #fff
}

.scInfo .scThumbDesc {
    padding-top: 5px;
    font-size: 14px;
    color: #ffc741
}

.scInfo .slider_music {
    position: absolute;
    bottom: -4px;
    left: 98px;
    right: 0;
    padding-right: 54px
}

.scInfo .scBar {
    position: relative;
    padding: 5px 0;
    cursor: pointer
}

.scInfo .inner_container {
    height: 2px;
    background-color: #8c8c8c
}

.scInfo .scProgress {
    height: 100%;
    background-color: #ffc741
}

.scInfo .scplaycontrol {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    background-position: -90px 0
}

.scInfo .scPlaytime {
    position: absolute;
    right: 18px;
    bottom: 2px;
    font-size: 13px;
    line-height: 15px;
    color: #d3d3d3
}
