
.scPlayListTab {
    position:relative;
}

.scPlayListTab .scLink:hover {
    color: red;
}

.scPlayListTab .scLink[aria-selected="true"] {
    color: red;
}

.scPlayer {
    display: none;
    position:relative;
    max-width:1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.scPlayer.on {
    display: block
}

.scplayMusic {
    overflow: hidden;
    position: relative;
    width:100%;
    height: 490px;
}

.scplayMusic .scBg{
    position:absolute;
    left:0;
    top:0;
    z-index:2;
    width:100%;
    height:100%;
    padding:10px 0 10px 10px; 
    box-sizing:border-box;
}
.scplayMusic .scBg:before{
    content:'';
    display:block;
    width:100%;
    height:100%;
    border:1px solid rgba(255,255,255,.4);
}
.scplayMusic .scPlayListWrap .scBg{ padding:10px 10px 10px 0; }
.scplayMusic .scPlayListWrap .scBg:before {border-color:rgba(213,213,213,.4)}


.scplayMusic .bgAlbum {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
}

.scplayMusic.tab1 .bgAlbum {
    background-image: url(./img/portal/gaminfo/gameinfo_soundtrack_bg_balenos.jpg)
}

.scplayMusic.tab2 .bgAlbum {
    background-image: url(./img/portal/gaminfo/gameinfo_soundtrack_bg_serendia.jpg)
}

.scplayMusic.tab3 .bgAlbum {
    background-image: url(./img/portal/gaminfo/gameinfo_soundtrack_bg_calpheon.jpg);
}

.scplayMusic .scLogo {
    position: absolute;
    left: 24px;
    top: 24px;
    z-index: 2;
}

.scplayMusic .scMusicPlayer {
    position: absolute;
    left: 0;
    top: -999999px;
    overflow:hidden;
}

.scPlayListWrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    max-width:500px;
    height: 100%;
    padding: 30px 40px;
    box-sizing: border-box;
    background-color: #fbfbfb;
}


.scInfo {
    position: relative;
    z-index: 4
}

.scInfo .scInfoCont {
    display:flex;
    align-items: center;
    font-size: 0;
    overflow: hidden;
    text-align: left;
}

.scInfo .scGroupBtn {
    display:inline-block; min-width:44px;  height:44px; vertical-align: middle; position:relative;
}

.scInfo .scGroupBtn a{
    display:none; position:absolute; left:0; top:0; width:100%; height:100%; background:url('./img/portal/gaminfo/gameinfo_soundtrack_play.png') no-repeat;
}
.scInfo .scGroupBtn a.icoBtnGroup.on {display:block;}


.scInfo .scInfoTitle {display:inline-block; vertical-align: middle; font-size:17px; font-weight:500; letter-spacing: -.2px; color:#000; padding-left:22px;}

.scInfo .scGroupBtn .icoPause {
    background-image:url('./img/portal/gaminfo/gameinfo_soundtrack_stop.png')
}

.scInfo .scPlayerSlide {
    position:relative;
    margin-top:15px;
}

.scInfo .scPlayerSlideCont {
    height: 2px;
    background-color: #d5d5d5;
}

.scInfo .scProgress {
    height: 100%;
    background-color: #000;
}
.scInfo .scBar{
    position: relative;
    padding:5px 0;
    cursor: pointer;
}

.scInfo .scplaycontrol {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    margin: -5px 0 0 -5px;
    background:url('./img/portal/gaminfo/gameinfo_soundtrack_tick.png') no-repeat;
}

.scInfo .scPlaytime {
    position: absolute;
    right:0;
    bottom:14px;
    font-size: 12px;
    font-weight:100;
    color:#000;
}

.scPlayList {
    display: none;
    position:relative;
    z-index:4;
    text-align: left;
}

.scPlayList.on {
    display: block
}

.scPlayList .scPlayListTitle {
    display:none;
}

.scList {
    padding:16px 0 0 0;
}

.scList li ~ li {margin-top:10px;}

.scList .scLinkTxt {
    display:block;
    font-size:14px;
    color:#000;
    font-weight:bold;
}

.scList .on .scLinkTxt {color:#2e3b7d;}

@media screen and (min-width:1025px) {
    .scList .scLinkTxt:hover{color:#2e3b7d;}
}

@media screen and (max-width:1024px) {
    .scPlayer{padding:0;}
    .scplayMusic {height:auto;}
    .scplayMusic .scBg{display:none;}
    .scplayMusic .bgAlbum {width:100%; background-size: cover; background-position: right bottom;}
    .scplayMusic.tab1 .bgAlbum {background-image:url('./img/portal/gaminfo/gameinfo_soundtrack_bg_balenos_m.jpg');}
    .scplayMusic.tab2 .bgAlbum {background-image:url('./img/portal/gaminfo/gameinfo_soundtrack_bg_serendia_m.jpg');}
    .scplayMusic.tab3 .bgAlbum {background-image:url('./img/portal/gaminfo/gameinfo_soundtrack_bg_calpheon_m.jpg');}
    .scplayMusic .scLogo {left:auto; top:auto; bottom:1rem; right:1rem;}
    .scplayMusic .scLogo a{display: block; height:16px;}
    .scplayMusic .scMusicPlayer {position:absolute; left:0; top: -99999px; overflow:hidden; }
    .scPlayListWrap {position:static; width:100%; max-width:100%; padding:1.41rem 2rem 8.75rem; background:transparent;}
}